### --- Hidden Files & Directories ---
# 1. Ignore all hidden files and folders (starting with a dot)

# 2. EXPLICITLY ALLOW .signac folder
!.signac/
!.signac/**

# 3. Allow specific hidden configuration files
!.gitignore
# !.github/  <-- Uncomment if you use GitHub Actions


.*

### --- Temporary & Output Files ---
*.out
*.trr
*.pyc
*#
*.pkl

### --- Folders & Patterns ---
# Ignore folders starting with rerun_
rerun_*/

# Ignore __pycache__ directories anywhere in the project
**/__pycache__/
